@use "./style/helper/fonts";
@use "./style/helper/normalize";
@use "./style/helper/globals";
@use "./style/helper/variables";

@use "./style/header.scss";

@use "./style/main/productPage.scss";
@use "./style/main/options.scss";
@use "./style/main/insurance.scss";
@use "./style/main/form.scss";
@use "./style/main/progres.scss";
@use "./style/main/contact.scss";
@use "./style/footer.scss";

@use "./style/modal.scss";

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}

.contact {
  grid-column: 1 / -1;
}
