@use "./style/helper/fonts";
@use "./style/helper/normalize";
@use "./style/helper/globals";
@use "./style/helper/variables";

@use "./style/header.scss";

@use "./style/main/productPage.scss";
@use "./style/main/options.scss";
@use "./style/main/insurance.scss";
@use "./style/main/form.scss";
@use "./style/main/contact.scss";
@use "./style/footer.scss";

.order-wrapper {
  @media screen and (min-width: 1200px) {
    margin-top: 64px;
    display: flex;
  }
}

.content-blocks {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-width: 968px;
  }
}

.forms {
  @media screen and (min-width: 1200px) {
    max-width: 448px;
    flex-shrink: 0;
    margin-left: 48px;
  }
}

.contact {
  // залишай пустим або додавай відступи як потрібно
  @media screen and (min-width: 1200px) {
    margin-top: 64px; // або будь-який інший
  }
}
