.container-header {
  height: 52px;
  position: relative;
  z-index: 10000;
  background-color: var(--page-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px;

  @media screen and (min-width: 768px) {
    width: 100%;
    padding: 29px 16px;
  }

  @media screen and (min-width: 1200px) {
    padding: 26px 40px;
    height: 72px;
    max-width: 1920px;
    min-width: 1500px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 86px;
    gap: 24px;
  }
}

.nav-link {
  transition: 250ms;

  &:hover {
    color: var(--white-70);
  }
}

.language-select {
  cursor: pointer;
  padding: 10px 16px;
  border: none;
  background-color: transparent;
  color: var(--white-70);
  transition: color 250ms ease;

  &:hover {
    color: var(--basic-text);
  }
}
.header-controls {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 406px;
  }
}

.address-list {
  display: flex;
  gap: 16px;
}

.address-item a {
  font-style: normal;
  text-decoration: none;
  color: var(--white-70);
  display: flex;
  gap: 3px;
  transition: all 250ms;

  &:hover {
    color: var(--basic-text);
  }
}

.address-icon path {
  fill: var(--basic-text);
  transition: fill 250ms ease;
}
.button-toggle {
  background-color: transparent;
  border: none;
  color: var(--basic-text);
}

.btn-exit {
  padding: 10px;
  background-color: transparent;
  border: none;

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.button-toggle .exit-icon {
  display: none;
}

.button-toggle.is-open .burger-icon {
  display: none;
}

.button-toggle.is-open .exit-icon {
  display: inline;
}

.for-mob-vers {
  display: flex;
  gap: 16px;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.list-tablet {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
